.deps
.libs
Makefile
Makefile.in
a8-mask
caps-joins
caps-sub-paths
clip-all
clip-fill-rule
clip-fill-rule-pixel-aligned
clip-nesting
clip-operator
clip-twice
composite-integer-translate-source
composite-integer-translate-over
composite-integer-translate-over-repeat
coverage
create-from-png
create-from-png-stream
dash-caps-joins
dash-offset-negative
extend-reflect
fill-and-stroke
fill-rule
filter-nearest-offset
ft-font-create-for-ft-face
get-and-set
gradient-alpha
imagediff
leaky-polygon
line-width
linear-gradient
mask
mask-ctm
mask-surface-ctm
move-to-show-surface
multi-page
multi-page.pdf
multi-page.ps
nil-surface
operator-clear
operator-source
paint
paint-with-alpha
path-data
pattern-get-type
pdf2png
png-flatten
svg2png
svg-clip
svg-clip.svg
svg-surface
svg-surface.svg
pixman-rotate
pthread-show-text
rectangle-rounding-error
rel-path
scale-source-surface-paint
select-font-no-show-text
self-copy
self-intersecting
set-source
show-text-current-point
source-clip
source-surface-scale-paint
surface-finish-twice
surface-pattern
text-antialias-gray
text-antialias-none
text-antialias-subpixel
text-cache-crash
text-pattern
text-rotate
transforms
translate-show-surface
trap-clip
unantialiased-shapes
unbounded-operator
user-data
xlib-surface
*-image-out.png
*-image-argb32-out.png
*-image-rgb24-out.png
*-pdf-argb32-out.png
*-pdf-argb32-out.pdf
*-pdf-rgb24-out.png
*-pdf-rgb24-out.pdf
*-ps-argb32-out.png
*-ps-argb32-out.ps
*-ps-rgb24-out.png
*-ps-rgb24-out.ps
*-svg-argb32-out.png
*-svg-argb32-out.svg
*-test-fallback-argb32-out.png
*-test-fallback-rgb24-out.png
*-test-meta-argb32-out.png
*-test-meta-rgb24-out.png
*-test-paginated-argb32-out.png
*-test-paginated-rgb24-out.png
*-xcb-out.png
*-xcb-argb32-out.png
*-xcb-rgb24-out.png
*-xlib-out.png
*-xlib-argb32-out.png
*-xlib-rgb24-out.png
*-beos-rgb24-out.png
*-beos_bitmap-rgb24-out.png
*-beos_bitmap-argb32-out.png
*-glitz-glx-rgb24-out.png
*-glitz-glx-argb32-out.png
*-diff.png
*.gcno
*.la
*.lo
*.log
*.o
*~
