.deps
.libs
Makefile
Makefile.in
index.html
ref.hash
a8-mask
big-trap
bitmap-font
caps-joins
caps-joins-alpha
caps-sub-paths
clip-all
clip-fill-rule
clip-fill-rule-pixel-aligned
clip-nesting
clip-operator
clip-push-group
clip-twice
close-path
composite-integer-translate-source
composite-integer-translate-over
composite-integer-translate-over-repeat
copy-path
coverage
create-for-stream
create-for-stream.pdf
create-for-stream.ps
create-for-stream.svg
create-from-png
create-from-png-stream
dash-caps-joins
dash-no-dash
dash-offset-negative
dash-scale
dash-state
dash-zero-length
degenerate-path
device-offset
device-offset-positive
extend-pad
extend-reflect
fallback-resolution
fallback-resolution.pdf
fallback-resolution.ps
fallback-resolution.svg
fill-and-stroke
fill-and-stroke-alpha
fill-and-stroke-alpha-add
fill-degenerate-sort-order
fill-missed-stop
fill-rule
filter-nearest-offset
ft-text-antialias-none
ft-font-create-for-ft-face
ft-text-vertical-layout-type1
ft-text-vertical-layout-type3
font-face-get-type
font-matrix-translation
get-and-set
get-clip
get-group-target
get-path-extents
glyph-cache-pressure
gradient-alpha
imagediff
infinite-join
in-fill-empty-trapezoid
invalid-matrix
leaky-dash
leaky-polygon
line-width
line-width-scale
line-width-zero
linear-gradient
linear-gradient-reflect
long-lines
mask
mask-alpha
mask-ctm
mask-surface-ctm
move-to-show-surface
multi-page
multi-page.pdf
multi-page.ps
new-sub-path
nil-surface
operator-clear
operator-source
over-above-source
over-around-source
over-below-source
over-between-source
paint
paint-repeat
paint-source-alpha
paint-with-alpha
path-data
pattern-get-type
pattern-getters
pdf2png
pdf-features
pdf-features.pdf
png-flatten
ps-features
ps-features.ps
push-group
radial-gradient
random-intersections
rgb24-ignore-alpha
svg2png
svg-clip
svg-clip.svg
svg-surface
svg-surface.svg
pixman-rotate
pthread-show-text
rectangle-rounding-error
rectilinear-stroke
rel-path
rotate-image-surface-paint
scale-down-source-surface-paint
scale-source-surface-paint
select-font-face
select-font-no-show-text
self-copy
self-intersecting
set-source
show-glyphs-many
show-text-current-point
skew-extreme
solid-pattern-cache-stress
source-clip
source-clip-scale
source-surface-scale-paint
surface-finish-twice
surface-pattern
surface-pattern-scale-down
surface-pattern-scale-up
text-antialias-gray
text-antialias-none
text-antialias-subpixel
text-cache-crash
text-glyph-range
text-pattern
text-rotate
text-zero-len
transforms
translate-show-surface
trap-clip
truetype-tables
unantialiased-shapes
unbounded-operator
user-data
xlib-surface
zero-alpha
valgrind-log
*-out.pdf
*-out.png
*-out.ps
*-out.svg
*-diff.png
*.manifest
*.gcda
*.gcno
*.exe
*.obj
*.ilk
*.pdb
*.la
*.lo
*.log
*.suo
*.o
*~
.*.sw?
