.deps
.libs
Makefile
Makefile.in
index.html
a8-mask
bitmap-font
caps-joins
caps-joins-alpha
caps-sub-paths
clip-all
clip-fill-rule
clip-fill-rule-pixel-aligned
clip-nesting
clip-operator
clip-twice
composite-integer-translate-source
composite-integer-translate-over
composite-integer-translate-over-repeat
coverage
create-for-stream
create-for-stream.pdf
create-for-stream.ps
create-for-stream.svg
create-from-png
create-from-png-stream
dash-caps-joins
dash-scale
dash-offset-negative
dash-zero-length
degenerate-path
device-offset
device-offset-positive
extend-reflect
fallback-resolution
fallback-resolution.pdf
fallback-resolution.ps
fallback-resolution.svg
fill-and-stroke
fill-and-stroke-alpha
fill-and-stroke-alpha-add
fill-rule
filter-nearest-offset
ft-font-create-for-ft-face
ft-text-vertical-layout
ft-text-antialias-none
font-face-get-type
get-and-set
get-group-target
glyph-cache-pressure
gradient-alpha
imagediff
leaky-dash
leaky-polygon
line-width
line-width-scale
linear-gradient
mask
mask-ctm
mask-surface-ctm
move-to-show-surface
multi-page
multi-page.pdf
multi-page.ps
new-sub-path
nil-surface
operator-clear
operator-source
paint
paint-source-alpha
paint-with-alpha
path-data
pattern-get-type
pdf2png
pdf2svg
pdf-features
pdf-features.pdf
png-flatten
ps-features
ps-features.ps
push-group
svg2png
svg-clip
svg-clip.svg
svg-surface
svg-surface.svg
pixman-rotate
pthread-show-text
rectangle-rounding-error
rel-path
scale-source-surface-paint
select-font-face
select-font-no-show-text
self-copy
self-intersecting
set-source
show-glyphs-many
show-text-current-point
source-clip
source-surface-scale-paint
surface-finish-twice
surface-pattern
text-antialias-gray
text-antialias-none
text-antialias-subpixel
text-cache-crash
text-pattern
text-rotate
transforms
translate-show-surface
trap-clip
unantialiased-shapes
unbounded-operator
user-data
xlib-surface
zero-alpha
*-out.pdf
*-out.png
*-out.ps
*-out.svg
*-diff.png
*.gcno
*.la
*.lo
*.log
*.o
*~
