ChangeLog
Makefile
Makefile.in
aclocal.m4
autom4te.cache
cairo.pc
compile
config.cache
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing
releases
stamp-h
stamp-h1
stamp-h.in
*~
